@charset "utf-8";

/*********margin********/
.margin0 {
	margin: 0;
}
.marginB5 {
	margin-bottom: 5px;
}
.marginB10 {
	margin-bottom: 10px;
}
.marginB15 {
	margin-bottom: 15px;
}
.marginB20 {
	margin-bottom: 20px;
}
.marginB30 {
	margin-bottom: 30px;
}
.marginL5 {
	margin-left: 5px;
}
.marginL10 {
	margin-left: 10px;
}
.marginL15 {
	margin-left: 15px;
}
.marginL20 {
	margin-left: 20px;
}
.marginL23 {
	margin-left: 23px;
}
.marginL30 {
	margin-left: 30px;
}
.marginL160 {
	margin-left: 160px;
}
.marginR10 {
	margin-right: 10px;
}
.marginR20 {
	margin-right: 20px;
}
.marginR23 {
	margin-right: 23px;
}
.marginR30 {
	margin-right: 30px;
}
/*********float********/
.fl {
	float: left;
}
.fr {
	float: right;
}

.alignC {
	text-align: center;
}

.alignR {
	text-align: right;
}

.alignL {
	text-align: left;
}