<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.sss.lms.mapper.LoginMapper">

	<sql id="select">
		SELECT
			t1.account_id,
			t1.user_id,
			t1.lms_user_id,
			t2.user_name,
			t1.role,
			t3.company_id,
			t4.company_name,
			t5.place_id,
			t6.place_name,
			t6.hidden_flg,
			t7.course_id,
			t8.course_name,
			t2.security_agree_flg,
			t2.password_change_date,
			t6.support_available,
			t2.mail_address,
			t2.leave_flg,
			t2.leave_date,
			t4.file_share_flg
		FROM m_lms_user t1
			INNER JOIN m_user t2 ON t1.user_id = t2.user_id AND t2.delete_flg = #{deleteFlg}
			LEFT OUTER JOIN t_user_company t3 ON t1.lms_user_id = t3.lms_user_id AND t3.delete_flg = #{deleteFlg}
			LEFT OUTER JOIN m_company t4 ON t3.company_id = t4.company_id AND t4.delete_flg = #{deleteFlg}
			LEFT OUTER JOIN t_user_place t5 ON t1.lms_user_id = t5.lms_user_id AND t5.delete_flg = #{deleteFlg}
			LEFT OUTER JOIN m_place t6 ON t5.place_id = t6.place_id AND t6.delete_flg = #{deleteFlg}
			LEFT OUTER JOIN t_course_user t7 ON t1.lms_user_id = t7.lms_user_id AND t7.delete_flg = #{deleteFlg}
			LEFT OUTER JOIN m_course t8 ON t8.course_id = t7.course_id AND t8.delete_flg = #{deleteFlg}
	</sql>

	<select id="getLoginDetailByLoginIdAndPassword" resultType="jp.co.sss.lms.entity.LoginUser">
		<include refid="select" />
		WHERE t2.login_id = #{loginId} 
			AND t2.password = #{password} 
			AND t1.delete_flg = #{deleteFlg}
	</select>

	<select id="getLoginDetailByLmsUserId" resultType="jp.co.sss.lms.entity.LoginUser">
		<include refid="select" />
		WHERE t1.lms_user_id = #{lmsUserId} 
			AND t1.delete_flg = #{deleteFlg}
	</select>

	<select id="getLoginDetailByUserId" resultType="jp.co.sss.lms.entity.LoginUser">
		<include refid="select" />
		WHERE t1.user_id = #{userId} 
			AND t1.delete_flg = #{deleteFlg}
	</select>

</mapper>