<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.sss.lms.mapper.MLmsUserMapper">

	<select id="getUserDetail" resultType="jp.co.sss.lms.dto.UserDetailDto">
		SELECT
			t1.lms_user_id,
			t1.user_id,
			t2.user_name,
			t2.kana,
			t2.subsidy_category_id,
			t1.role,
			t2.login_id,
			t1.hope_via_traning,
			t1.programming_experience,
			t4.company_name,
			t6.course_id,
			t6.course_name,
			t8.place_name,
			t8.place_note,
			t8.place_description
		FROM m_lms_user t1
			INNER JOIN m_user t2 ON t1.user_id = t2.user_id
			LEFT OUTER JOIN t_user_company t3 ON t1.lms_user_id = t3.lms_user_id
			LEFT OUTER JOIN m_company t4 ON t3.company_id = t4.company_id
			LEFT OUTER JOIN t_course_user t5 ON t1.lms_user_id = t5.lms_user_id
			LEFT OUTER JOIN m_course t6 ON t5.course_id = t6.course_id
			LEFT OUTER JOIN t_user_place t7 ON t1.lms_user_id = t7.lms_user_id
			LEFT OUTER JOIN m_place t8 ON t7.place_id = t8.place_id
		WHERE t1.lms_user_id = #{lmsUserId}
			AND t1.delete_flg = #{deleteFlg}
	</select>

</mapper>