<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.sss.lms.mapper.TInfoMapper">

	<select id="findBySingleResult" resultType="jp.co.sss.lms.entity.TInfo">
		SELECT * 
		FROM t_info
		ORDER BY last_modified_date DESC LIMIT 1
	</select>

</mapper>