<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.sss.lms.mapper.TMailQueFileMapper">

	<insert id="insert" parameterType="jp.co.sss.lms.entity.TMailQueFile" useGeneratedKeys="true" keyProperty="mailQueFileId">
		INSERT INTO t_mail_que_file (
			mail_que_id,
			file_id,
			delete_flg,
			first_create_user,
			first_create_date,
			last_modified_user,
			last_modified_date
		) VALUES (
			#{mailQueId},
			#{fileId},
			#{deleteFlg},
			#{firstCreateUser},
			#{firstCreateDate},
			#{lastModifiedUser},
			#{lastModifiedDate}
		)
	</insert>

</mapper>