<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<Configuration status="off">
	<Properties>
		<Property name="LOG_LAYOUT">[%-5level] %d{yyyy-MM-dd HH:mm:ss,SSS} [%t] %l %m%n
		</Property>
	</Properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${LOG_LAYOUT}" />
		</Console>
		<!--
		<RollingFile name="RollingFile"
			fileName="lms/logs/tis.log" filePattern="lms/logs/tis_%d{yyyyMMdd}-%i.log.gz">
			<PatternLayout pattern="${LOG_LAYOUT}" />
			<Policies>
				<SizeBasedTriggeringPolicy size="10MB" />
				<TimeBasedTriggeringPolicy />
			</Policies>
		</RollingFile>
		-->
	</Appenders>
	<Loggers>
		<Root level="INFO">
			<AppenderRef ref="Console" />
			<!-- <AppenderRef ref="RollingFile" /> -->
		</Root>
		<Logger name="jp.co.sss.lms" additivity="false" level="DEBUG">
			<AppenderRef ref="Console" />
		</Logger>
	</Loggers>
</Configuration>