<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{/common/change-pass-layout :: layout(~{::title},~{::body/content()})}">
<head>
	<meta charset="UTF-8" />
	<title>セキュリティ規約 | LMS</title>
</head>
<body>

	<h2>利用規約</h2>

	<p>この利用規約は、株式会社システムシェアード(以下、「当社」といいます。)がこのLMSで提供するサービス(以下、「本サービス」といいます。)の利用条件を定めるものです。</p>
	<p>登録ユーザーの皆さま(以下、「ユーザー」といいます。)には、利用規約に従って、本サービスをご利用いただきます。</p>

	<div class="well bs-component">
		<fieldset>
			<legend>第1条(ユーザーIDおよびパスワードの管理)</legend>
			<div class="form-group">
				<p>ユーザーは、自己の責任において、本サービスのユーザーIDおよびパスワードを管理するものとします。</p>
				<p>ユーザーは、いかなる場合にも、ユーザーIDおよびパスワードを第三者に譲渡または貸与することはできません。</p>
				<p>当社は、ユーザーIDとパスワードの組み合わせが登録情報と一致してログインされた場合には、そのユーザーIDを登録しているユーザー自身による利用とみなします。</p>
			</div>
		</fieldset>
		<fieldset>
			<legend>第2条(禁止事項)</legend>
			<div class="form-group">
				<p>ユーザーは、本サービスの利用にあたり、以下の行為をしてはなりません。</p>
				<p>(1)法令または公序良俗に違反する行為</p>
				<p>(2)犯罪行為に関連する行為</p>
				<p>(3)当社のサーバーまたはネットワークの機能を破壊したり、妨害したりする行為</p>
				<p>(4)当社のサービスの運営を妨害するおそれのある行為</p>
				<p>(5)他のユーザーに関する個人情報等を収集または蓄積する行為</p>
				<p>(6)他のユーザーに成りすます行為</p>
				<p>(7)その他、当社が不適切と判断する行為</p>
			</div>
		</fieldset>
		<fieldset>
			<legend>第3条(利用規約の変更)</legend>
			<div class="form-group">
				<p>当社は、必要と判断した場合には、ユーザーに通知することなくいつでも利用規約を変更することができるものとします。</p>
			</div>
		</fieldset>
	</div>
	<div class="well bs-component">

		<form th:action="@{/user/agreeSecurity/changePassword}" class="form-horizontal" th:method="post">
			<fieldset>
				<div class="col-lg-10">
					<div class="checkbox">
						<label> <input type="checkbox" name="securityFlg" value="1">
							<input type="hidden" name="securityFlg" value="0">同意します
						</label>
					</div>
					<div th:if="${error != null}" class="error">[[${error}]]</div>
				</div>
				<div class="col-lg-10 col-lg-offset-2">
					<button type="submit" class="btn btn-primary">次へ</button>
				</div>
			</fieldset>
		</form>
	</div>

</body>
</html>