<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{common/change-pass-layout :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8" />
<title>パスワード変更 | LMS</title>
</head>
<body>

	<h2>パスワード変更</h2>

	<form th:action="@{/password/changePassword/change}" method="post" id="upd-form" class="form-horizontal" th:object="${loginForm}">
		<div class="well bs-component">
			<span class="help-inline error">[[${error}]]</span>
			<fieldset>
				<div class="form-group">
					<label for="currentPassword" class="col-lg-2 control-label">現在のパスワード</label>
					<div class="col-lg-10">
						<input type="password" th:field="*{currentPassword}" class="form-control" th:errorclass="errorInput" />
						<ul style="padding-left: 0; list-style: none;">
							<li><span th:errors="*{currentPassword}" class="help-inline error"></span></li>
						</ul>
					</div>
				</div>
				<div class="form-group">
					<label for="password" class="col-lg-2 control-label">新しいパスワード</label>
					<div class="col-lg-10">
						<input type="password" th:field="*{password}" class="form-control" th:errorclass="errorInput" />
						<span class="help-inline">パスワードは英大文字、英小文字、数字の3文字種を混合させた8文字以上を入力してください。</span>
						<ul style="padding-left: 0; list-style: none;">
							<li><span th:errors="*{password}" class="help-inline error"></span></li>
						</ul>
					</div>
				</div>
				<div class="form-group">
					<label for="passwordConfirm" class="col-lg-2 control-label">確認パスワード</label>
					<div class="col-lg-10">
						<input type="password" th:field="*{passwordConfirm}" class="form-control" th:errorclass="errorInput" />
						<ul style="padding-left: 0; list-style: none;">
							<li><span th:errors="*{passwordConfirm}" class="help-inline error"></span></li>
						</ul>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-10 col-lg-offset-2">
						<button type="submit" class="btn btn-primary">変更</button>
					</div>
				</div>
			</fieldset>
		</div>

		<div class="modal fade" id="div-modal">
			<div class="modal-dialog modal-dialog-center">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="modal-label">パスワード変更の確認</h4>
					</div>
					<div class="modal-body">
						<strong>※パスワードを変更する際は以下の点にご注意ください。</strong>
						<ul>
							<li>パスワードは大文字、小文字が区別されます。</li>
							<li>変更したパスワードを忘れると本システムにログインできなくなります。</li>
							<li>パスワードの管理は十分にご注意ください。</li>
						</ul>
						<div>パスワードを変更しますか？</div>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" id="upd-btn">変更</button>
					</div>
				</div>
			</div>
		</div>
	</form>

	<script>
		$(function() {
			var btn = false;
			$('#upd-form').submit(function() {
				if (btn) {
					return btn;
				} else {
					$('.modal').modal('show');
					return btn;
				}
			});
			$('#upd-btn').click(function() {
				btn = true;
				$('#upd-form').submit();
			});
		});
	</script>

</body>
</html>