<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">

<head>

	<meta charset="UTF-8">
	<link th:href="@{/css/studentAttendance.css}" rel="stylesheet" />
	<title>勤怠情報変更｜LMS</title>
</head>

<body>
	<th:block th:if="${session.loginUserDto.role == '0001'}">
		<h2>勤怠管理</h2>
	</th:block>

	<th:block th:if="${session.loginUserDto.role != '0001'}">
		<h2>勤怠管理 <small>( [[${attendanceForm.userName}]] )</small></h2>
		<th:block th:if="${session.loginUserDto.leaveFlg == '1'}">
			<h2><small>途中退校日：${dispLeaveDate}</small></h2>
		</th:block>
	</th:block>
	<div class="row">
		<div class="bs-component col-sm-12">

			<form th:action="@{/attendance/update}" method="post" th:object="${attendanceForm}">
				<table class="table table-hover dataTable no-footer table-scroll">

					<thead style="display: block;">
						<tr>
							<th class="w140">日付</th>
							<th class="w140">コース内容</th>
							<th class="w180" colspan="3">出勤</th>
							<th class="w180" colspan="3">退勤</th>
							<th class="w80">中抜け時間</th>
							<th class="w70">ステータス</th>
							<th class="w140">備考</th>
						</tr>
					</thead>
					<tbody style="display: block; overflow-y: scroll; height: 560px;">
						<th:block th:each="dailyAttendanceForm, stat : *{attendanceList}">
							
							<tr>
								<input type="hidden" th:field="*{attendanceList[__${stat.index}__].isToday}" />
								<input type="hidden" th:field="*{attendanceList[__${stat.index}__].studentAttendanceId}" />
								<input type="hidden" th:field="*{attendanceList[__${stat.index}__].trainingDate}" />
								<input type="hidden" th:field="*{attendanceList[__${stat.index}__].dispTrainingDate}" />
								<input type="hidden" th:field="*{attendanceList[__${stat.index}__].sectionName}" />
								<input type="hidden" th:field="*{attendanceList[__${stat.index}__].statusDispName}" />
							

								<!--<th:block>
									<input type="hidden" th:name="|attendanceList[${stat.index}].isToday|"
										th:value="${dailyAttendanceForm.isToday}" />
									<input type="hidden" th:name="|attendanceList[${stat.index}].studentAttendanceId|"
										th:value="${dailyAttendanceForm.studentAttendanceId}" />
									<input type="hidden" th:name="|attendanceList[${stat.index}].trainingDate|"
										th:value="${dailyAttendanceForm.trainingDate}" />
									<input type="hidden" th:name="|attendanceList[${stat.index}].dispTrainingDate|"
										th:value="${dailyAttendanceForm.dispTrainingDate}" />
									<input type="hidden" th:name="|attendanceList[${stat.index}].sectionName|"
										th:value="${dailyAttendanceForm.sectionName}" />
									<input type="hidden" th:name="|attendanceList[${stat.index}].statusDispName|"
										th:value="${dailyAttendanceForm.statusDispName}" />
								</th:block>-->
								<td class="w140">[[*{attendanceList[__${stat.index}__].dispTrainingDate}]]</td>
								<td class="w140">[[*{attendanceList[__${stat.index}__].sectionName}]]</td>

								<!--Task.26 - ザザリン-->
								<td class="w70">

									<select class="form-control"
										th:field="*{attendanceList[__${stat.index}__].trainingStartTimeHour}">
										<option th:each="startHour : *{hourMap}" th:value="${startHour.key}">
											[[${startHour.value}]]
										</option>
									</select>

									
								</td>
								<td>:</td>
								<td>

									<select class="form-control"
										th:field="*{attendanceList[__${stat.index}__].trainingStartTimeMinute}">
										<option th:each="startMinute : *{minuteMap}" th:value="${startMinute.key}">
											[[${startMinute.value}]]
										</option>
									</select>
								</td>
								<td>
									<select class="form-control"
										th:field="*{attendanceList[__${stat.index}__].trainingEndTimeHour}">
										<option th:each="endHour : *{hourMap}" th:value="${endHour.key}">
											[[${endHour.value}]]
										</option>
									</select>

								</td>
								<td>:</td>
								<td>
									<select class="form-control"
										th:field="*{attendanceList[__${stat.index}__].trainingEndTimeMinute}">
										<option th:each="endMinute : *{minuteMap}" th:value="${endMinute.key}">
											[[${endMinute.value}]]
										</option>
									</select>

								</td>
								<td>
									<select class="form-control" th:field="*{attendanceList[__${stat.index}__].blankTime}">
										<option th:each="blankTime : *{blankTimes}" th:value="${blankTime.key}">
											[[${blankTime.value}]]
										</option>
									</select>


								</td>
								<td class="w70">[[*{attendanceList[__${stat.index}__].statusDispName}]]</td>
								<td class="w140">
									
									<input type="text" class="form-control"
										th:field="*{attendanceList[__${stat.index}__].note}" />
										
										<div class="text-danger"
										th:if="${#fields.hasErrors('attendanceList[' + stat.index + '].note')}"
										th:errors="*{attendanceList[__${stat.index}__].note}">
									</div>

								</td>
							</tr>
						</th:block>
					</tbody>
				</table>

				<div class="form-group">
					<th:block th:if="${session.loginUserDto.role == '0001'}">
						<a th:href="@{/attendance/detail}" class="btn btn-default">戻る</a>
					</th:block>
					<th:block th:if="${session.loginUserDto.role != '0001'}">
						<input type="submit" value="戻る" name="indexCompany" class="btn btn-default" />
					</th:block>
					<input type="submit" value="更新" name="complete" class="btn btn-info"
						onclick="return confirmUpdate()" />
				</div>
			</form>
		</div>
	</div>

	<!--Task.27 - ザザリン-->
	<script type="text/javascript">
		function confirmUpdate() {
			return confirm("更新します。よろしいですか？")
		}		
	</script>

</body>

</html>