<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8">
<title>勤怠情報変更｜LMS</title>
</head>
<body>

	<th:block th:if="${session.loginUserDto.role == '0001'}">
		<h2>勤怠管理</h2>
	</th:block>

	<th:block th:if="${session.loginUserDto.role != '0001'}">
		<h2>勤怠管理 <small>( [[${attendanceForm.userName}]] )</small></h2>
		<th:block th:if="${session.loginUserDto.leaveFlg == '1'}">
			<h2><small>途中退校日：${dispLeaveDate}</small></h2>
		</th:block>
	</th:block>

	<div class="row">
		<div class="bs-component col-sm-12">

			<form th:action="@{/attendance/update}" method="post">
				<table class="table table-hover dataTable no-footer">
					<thead>
						<tr>
							<th class="w140">日付</th>
							<th class="w300">コース内容</th>
							<th class="w70">出勤</th>
							<th class="w70">退勤</th>
							<th class="w80">中抜け時間</th>
							<th class="w70">ステータス</th>
							<th class="w240">備考</th>
						</tr>
					</thead>
					<tbody>
						<th:block th:each="dailyAttendanceForm, stat : *{attendanceForm.attendanceList}">
							<tr>
								<th:block>
									<input type="hidden" th:name="|attendanceList[${stat.index}].isToday|" th:value="${dailyAttendanceForm.isToday}" />
									<input type="hidden" th:name="|attendanceList[${stat.index}].studentAttendanceId|" th:value="${dailyAttendanceForm.studentAttendanceId}" />
									<input type="hidden" th:name="|attendanceList[${stat.index}].trainingDate|" th:value="${dailyAttendanceForm.trainingDate}" />
									<input type="hidden" th:name="|attendanceList[${stat.index}].dispTrainingDate|" th:value="${dailyAttendanceForm.dispTrainingDate}" />
									<input type="hidden" th:name="|attendanceList[${stat.index}].sectionName|" th:value="${dailyAttendanceForm.sectionName}" />
									<input type="hidden" th:name="|attendanceList[${stat.index}].statusDispName|" th:value="${dailyAttendanceForm.statusDispName}" />
								</th:block>
								<td class="w140">[[${dailyAttendanceForm.dispTrainingDate}]]</td>
								<td class="w300">[[${dailyAttendanceForm.sectionName}]]</td>
								<td class="w70">
									<input type="text" th:name="|attendanceList[${stat.index}].trainingStartTime|"
									th:value="${dailyAttendanceForm.trainingStartTime}" class="form-control" />
								</td>
								<td class="w70">
									<input type="text" th:name="|attendanceList[${stat.index}].trainingEndTime|"
									th:value="${dailyAttendanceForm.trainingEndTime}" class="form-control" />
								</td>
								<td class="w80">
									<select th:name="|attendanceList[${stat.index}].blankTime|" class="form-control">
										<option th:each="blankTime : ${attendanceForm.blankTimes}" th:value="${blankTime.key}" th:inlne="text" class="form-control" 
											th:selected="${blankTime.key == dailyAttendanceForm.blankTime}">[[${blankTime.value}]]</option>
									</select>
								</td>
								<td class="w70">[[${dailyAttendanceForm.statusDispName}]]</td>
								<td class="w240">
									<input type="text" th:name="|attendanceList[${stat.index}].note|" th:value="${dailyAttendanceForm.note}" class="form-control"></input>
								</td>
							</tr>
						</th:block>
					</tbody>
				</table>

				<div class="form-group">
					<th:block th:if="${session.loginUserDto.role == '0001'}">
						<a th:href="@{/attendance/detail}" class="btn btn-default">戻る</a>
					</th:block>
					<th:block th:if="${session.loginUserDto.role != '0001'}">
						<input type="submit" value="戻る" name="indexCompany" class="btn btn-default" />
					</th:block>
					<input type="submit" value="更新" name="complete" class="btn btn-info" />
				</div>

			</form>
		</div>
	</div>

</body>
</html>